* {
  box-sizing: border-box;
}

body {
  font-size: small;
  margin: 0;
  padding: 0;
}

header {
  padding: 7%;
  font-size: x-large;
}

.bold {
  font-weight: bolder;
}

.italics {
  font-style: italic;
}

.contact {
  background-color: rgb(87, 86, 86);
  margin: 5px;
  padding: 0 1rem;
  color: white;
  font-size: small;
}

.contact-box {
  display: flex;
  border-bottom: dotted rgb(204, 203, 203) 1px;
}

.fa {
  /* width: 0.8rem; */
  margin-right: 5px;
}

.section {
  padding: 0 7%;
}

.date {
  font-style: italic;
  font-weight: lighter;
}

.desc {
  font-weight: bold;
  margin-top: 8px;
}

.section > p {
  margin: 0;
  padding: 0;
}

h2 {
  color: gray;
  text-transform: uppercase;
  border-bottom: rgb(175, 175, 175) dashed 1.7px;
  font-size: medium;
  margin-bottom: 0;
}

.desc_date {
  display: flex;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
}

.research_date,
.award_head {
  margin-top: 8px;
  margin-bottom: 0;
}

.research_topic,
.award_narration {
  margin-top: 0;
}

@media only screen and (min-width: 700px) {
  .contact {
    display: flex;
    justify-content: center;
  }

  .contact-box {
    border: none;
    margin-right: 1.5rem;
  }

  header {
    padding: 40px 80px;
    font-size: xx-large;
  }
}
